.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 13vh;
}

.modal--container {
  --padding: 1.5rem;

  background: var(--sec-clr);
  position: absolute;
  display: flex;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  padding: var(--padding);
  flex-direction: column;
  gap: var(--padding);
  justify-content: center;
}

/* .input--groupname {
  color: #bebebe;
} */

.btn-container {
  gap: var(--padding);
  display: flex;

  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}

.form {
  --gap: calc(var(--padding) / 1.25);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.form > * {
  width: 100%;
}

.error-msg {
  color: #ee5353;
}
