.headerContainer {
  width: 100%;
}

// .container {
//   display: grid;
//   justify-content: space-between;
//   align-items: center;
//   grid-template-columns: auto 1fr;
//   .title {
//     font-size: 1.5rem;
//     font-weight: 500;
//   }
// }

// .nav-container {
//   display: flex;
//   justify-content: flex-end;
//   gap: 3rem;
//   width: auto;
//   align-items: center;
// }

/* 
.punch-btn {
  background: var(--sec-clr);
  border: none;
  outline: none;
  border-radius: none;
  color: black;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
} */
