.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.input {
  margin-inline: 1rem;
}

.searchButton {
  height: fit-content;
}

.searchButtonContainer {
}
