.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
