// #reviews {
//   scroll-margin-top: 5rem;
// }

// .container {
//   position: relative;
//   width: 100%;
//   height: 100px;
// }

// .image {
//   border-radius: 1rem;
// }
// .imageWrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 3rem;
//   height: 100%;
//   justify-content: center;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   padding-inline: 3rem;
//   background-color: var(--sec-clr);

//   align-items: center;
//   .title {
//     display: none;
//   }
//   @media screen and (min-width: 970px) {
//     .title {
//       align-items: center;
//       display: unset;
//     }
//     position: fixed;
//   }
// }

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  // display: grid;
  text-align: left;

  @media screen and (min-width: 970px) {
    // text-align: left;
    // margin-top: 7rem;
    // justify-content: flex-end;
    // grid-template-columns: calc(100% - 300px - 5rem);
    // gap: 5rem;
  }
  gap: 3rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  & > button {
    padding-bottom: 2px;
  }
  // @media screen and (max-width: 970px) {
  //   justify-content: center;
  // }
}

// .reviewContainer {
//   gap: 1.5rem;
//   display: flex;
//   flex-direction: column;
// }

// .reviewTitle {
//   margin-bottom: 1.5rem;
// }

// .btnContainer {
//   display: grid;
//   grid-template-rows: auto auto auto;
//   text-align: left;
//   justify-content: flex-start;
//   padding: 1rem;
//   width: 100%;
//   font-size: 1.25rem;
// }
