.wrapper {
  padding-inline: 3rem;
  padding-block: 2rem 3rem;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  @media screen and (max-width: 600px) {
    padding-inline: 1rem;
    padding-block: 1rem 1.5rem;
  }
  @media screen and (max-width: 500px) {
    padding-inline: 1rem;
  }
}

// @media screen and (max-width: 500px) {
//   .avatar {
//     display: none;
//   }
// }

.navbarContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.header-container {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
  scroll-margin-top: 5rem;
  z-index: auto;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .avatar {
    display: none;
  }
}
.middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  & > button {
    height: 100%;
  }
  & > .title {
    padding-bottom: 5px;
  }
}
